@font-face {
	font-family: 'Pixelify Sans';
	src: url('fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf') format(‘ttf’),
		url('fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf') format(‘ttf’),
        url('fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf') format(‘ttf’),
        url('fonts/Pixelify_Sans/static/PixelifySans-SemiBold.ttf') format(‘ttf’)
}

@font-face {
	font-family: 'VT323';
	src: url('fonts/VT323/VT323-Regular.ttf') format(‘ttf’)
}


body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    zoom: 90%;
    
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}




/*HEADER*/

header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #514d7e2d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap:82%;
    height: 120px;
}


nav .button-menu {
    cursor: pointer;
    margin-top: 24px;
    height: 55px;
    width: 55px;
    display: flex;
    flex-shrink: 0;
}



nav .button-xmark {
    display : none;
    cursor: pointer;
    height: 60px;
    margin-top: 24px;
}

.menu {
    display: flex;
    position: absolute;
    width: 11.8%;
    right: -200%;
    transition: right 0.5s ease 0s;
    background-color: rgb(81, 77, 126);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: right;
    height: 100vh;
    box-shadow: rgb(169, 20, 239) 0px 0px 10px 5px
}

.menu .nav a button{
    width: 100%;
    padding: 8px;
    font-size: 23px ;
    font-family: "VT323";
    border-radius: 8px;
    border: 2px solid black;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    cursor: pointer;
}

.menu .nav a button:hover {
    box-shadow: 1px 3px 29px 13px wheat;
    transition: all 0.5s ease;
}

.menu .nav a {
    width: 90%;
}

.menu .nav{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;


}



.menu .rs{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    top: 410px;
}

.menu .rs img:hover{
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #A914EF; 
}



.nav-desktop .nav {
    display: flex;
    flex-direction: row;
}


.logo-desktop{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

}


.rs img{
    height: 30px;
    width: 30px;
}


header a img{
    height: 42px;
    width: 42px;
}





/*FOOTER*/


footer{
    width:100% ;
    background-color: burlywood;
    bottom: 100%;
    padding-bottom: 50px;
}


footer .reseau-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -40px;
    gap : 0px
}

.logo-secondaire {
    display: flex;
    justify-content: center;
}

.reseau-footer img{
    height: 42px;
}


/*CONTENU DE LA PAGE*/

main {
    display: flex;
    margin-top: -110px;
    width: 100%;
    flex-direction: column;
    
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 8% ;
}


h1{
    font-family: "Pixelify Sans";
    font-size: 100px;
    color: burlywood;
    font-weight: bolder;
    margin:0;
    -webkit-text-stroke: 2px black;
}

h1 .rayan {
    background: -webkit-linear-gradient(#f9876f, #D95886);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.salut a {
    display: flex;
    align-self: flex-start;
    border: 3px solid;
    border-color: black;
    color: black;
    font-weight: bolder;
    padding: 30px 100px 30px 100px;
    font-family: "VT323";
    text-decoration: none;
    font-size: 26px;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    border-radius: 8px;
    
}

.salut a:hover {
    color:  white;
    font-size:20px;
    border: 3px solid;
    border-color: white;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #A914EF; 
}



.salut {
    background-image: url(image/background-gif.gif);
    background-size:cover;
    height: 100vh;
    padding-top: 252px;
    padding-left:50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

main{
    background :-webkit-linear-gradient(#3D2A56, #8A4CA0);
}


/* Présentation */

h2 {
    font-family: "Pixelify Sans";
    font-weight: bolder;
    font-size:80px;
    color: burlywood;
    margin: 0px;
}

#presentation{
    justify-content: center;
}

article p{
    font-family: "VT323";
    color: burlywood;
    width: 80%;
    font-size: 27px; 
    /*font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);*/
}

article h3{
    font-family: "VT323";
    font-weight: bolder;
    margin: 0px;
    font-size: 30px;
}



/* Compétences*/

.compétences {
    

}

.compétences label {
    font-family: "VT323";
    font-weight: bolder;
    color: burlywood;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.compétences label img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.compétences progress{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 600px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cursus */

.buttons button{
    background: -webkit-linear-gradient(#f9876f, #D95886);
    padding:12px;
    font-family: "VT323"; 
    font-size: larger;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 2px solid black;
    padding-right: 13px;
}

#lien-ecole {
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

.texte-curs {
    padding: 0px;
    width: 55%;
}

#texte-cursus {
    height: 231px;
    width: 610px;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
}

.cursus img{
    height: 305px;
    width: 400px;
    padding: 0px;
    border: #514D7E solid;
    margin-right: 5px;
    box-shadow: 1px 3px 29px 13px #514D7E;
}

.cursus a:hover{
    color:  white;
    border: 1px solid;
    border-color: #514D7E;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #514D7E; 
}

.descri-cursus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    gap: 30px;
    margin: 0px auto;
    flex-wrap: wrap;
}


/* Projets */

.projets {
    gap: 20px;
}

.slideshow-container{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back,.next{
    cursor: pointer;
    align-self: center;
    display: flex;
    background-color: #8A4CA0;
    color: white;
    padding: 18px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.back:hover,.next:hover{
    background-color: #8a4ca0a8;
}

.dots .dot{
    cursor : pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.314);
}

.dots .dot:hover{
    background-color: rgba(0, 0, 0, 0.481);
}

.dots .active{
    background-color: rgba(0, 0, 0, 0.481);
}

.dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.image-projets{
    height: fit-content;
}

.image-projets a img{
    height: 50vh;
    width: 570px;
    border : 2px solid black;
    box-shadow:5px 5px 15px 5px black;
    border-radius: 10px;
}


.descri-projet {
    height: 148px;
}

.descri-projet span img{
    display: inline-block;
    height: 50px;
    width: 50px;

}

/* Contact */

.contact {
    justify-content: center;
    padding-bottom: 50px;
}

.contact img {
    height: 50px;
}

.contact a {
    text-decoration: none;
    color: burlywood;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 5px;
}


/* Menu mobile */

.logo-mobile{
    visibility: hidden;
}

.header-contents .menu{
    visibility: hidden;
}

h3{
    font-family: "VT323";
    padding: 0px;
    font-size: 20px;
    margin: 0px;
}

.nav-mobile{
    visibility: hidden;
}


/* Site en responsive */

@media screen and (max-width: 1024px) {
    

}