/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  html{
    width: 100vh;
  }
  html{
    zoom:100%;
  }
  article{
    width: 100%;
  }

  h1{
    font-size: 110px;
  }
  h2{
    font-size: 90px;
  }

  article p{
    font-size:35px
  }

  article h3{
    font-size: 38px;
  }

  .salut{
    padding-left: 0px;
    background-size:cover ;
    height:1175px;
    padding-top:50%;
  }

  .salut a{
    font-size: 35px;
  }

  .salut h1, .salut a{
    margin:0 auto;
  }



  .slideshow-container {
    width:100%;
  }

  .image-projets a img{
    height: 350px;
    width: 350px;
  }

  .back, .next{
    font-size: 35px;
  }

  .compétences progress{
    margin:0
  }
  
  .compétences label{
    font-size: 35px;
  }

  #cursus{
    height: fit-content;
  }
  #texte-cursus{
    width: 100%;
    height: 100%;
    font-size: 35px;
  }

  .buttons button{
    font-size: 30px;
  }

  .buttons{
    border-right: none;
    border-bottom: 3px solid black;
    padding:0;
    padding-bottom: 5px;
  }

  #image-cursus{
    width: 350px;
    height: 350px;
  }

  article{
    height: 1175px;
    padding-top:50%
  }

  .contact a{
    font-size: 35px;
  }

  .reseau-footer img{
    height: 50px;
    width: 50px;
  }

  .navbar{
    height: 180px;
    gap:0;
    justify-content:flex-end;
  }

  .logo-desktop{
    margin-right: 23%;
  }

  nav .button-menu{
    width: 95px;
    height: 95px;
    margin-right: 10px;
  align-self: center;
  }

  .menu{
    width: 100%;
    height: 100%;
  }

  header{
    height: 0;
  }

  .menu{
    justify-content: flex-start;
    gap:100px;
  }

  .menu .nav a button{
    font-size: 50px;
    gap: 50px;
  }

  .menu .nav{
    gap:50px;
    margin-top: 80px;
  }

  .rs img{
    height: 70px;
    width: 70px;
  }


}
