@media screen and (max-width: 768px) {
  html{
    width: 100vh;
  }
  html{
    zoom:100%;
  }
  article{
    width: 100%;
  }

  /*h1{
    font-size: 110px;
  }
  h2{
    font-size: 90px;
  }*/


  .salut{
    padding-left: 0px;
    background-size:cover ;
    height:100vh;
    padding-top:50%;
  }






  .slideshow-container {
    width:100%;
  }

  .image-projets a img{
    height: 350px;
    width: 350px;
  }

  .back, .next{
    font-size: 35px;
  }

  .compétences progress{
    margin:0
  }
  
  .compétences label{
    font-size: 35px;
  }

  #cursus{
    height: 100vh;
  }
  #texte-cursus{
    width: 100%;
    height: 100%;
  }

  

  .buttons{
    border-right: none;
    border-bottom: 3px solid black;
    padding:0;
    padding-bottom: 5px;
  }

  #image-cursus{
    width: 350px;
    height: 350px;
  }

  

  .reseau-footer img{
    height: 50px;
    width: 50px;
  }

  .navbar{
    height: 180px;
    gap:50%;
    justify-content: space-around;
  }


  nav .button-menu{
    width: 95px;
    height: 95px;
    margin-right: 10px;
    align-self: center;
    justify-self: flex-end;
  }

  .menu{
    width: 100%;
    height: 100%;
  }

  header{
    height: 0;
  }

  .menu{
    justify-content: flex-start;
    gap:100px;
  }

  .menu .nav a button{
    gap: 50px;
  }

  .menu .nav{
    gap:50px;
    margin-top: 80px;
  }

  .rs img{
    height: 70px;
    width: 70px;
  }

  .menu .rs{
    bottom: 0%;
  }

}
