@font-face {
	font-family: "upheaval" ;
	src: url('/fonts/upheaval/upheavtt.woff2' ) format('woff2');
    font-weight: 700;
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/VT323/VT323-Regular.woff2') format('woff2')
}



:root{
    --font1 : "upheaval";
    --font2 : "VT323";
    --paragraph-color : #DEB887;
    --h1-color : #DEB887;
    --h1-stroke-color : #3D2A56;
    --orange-fade : -webkit-linear-gradient(#f9876f, #D95886);
    --h2-color : #DEB887;
    --h3-color : #DEB887;
    --button-border-color : #3D2A56;
    --button-text-color : #3D2A56;
    --header-color : #3a254c;
    --button-border-color : #3D2A56;
    --image-shadow-color : #3D2A56;
    --body-background : -webkit-linear-gradient(#3D2A56, #8A4CA0);
    --purple-one : #3D2A56;
    --purple-two : #8A4CA0;
    --orange-one : #f9876f;
    --orange-two : #D95886;
    --orange-three: #DEB887;
    --image-hover-color : #A914EF;
    --card-background : antiquewhite;
    --contact-label-color : #3a254c;

}


html body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;  
    height: auto;
    line-height: normal;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}




/*HEADER*/

header {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}

header > nav > .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3a254c00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap:82%;
    height: 120px;
    transition: background-color 0.3s;
}

.navbar.scrolled {
    background-color: var(--header-color); 
}


nav .button-menu {
    cursor: pointer;
    margin-top: 24px;
    height: clamp(50px, 4vw, 60px);
    display: flex;
    flex-shrink: 0;
}



nav .button-xmark {
    display : none;
    cursor: pointer;
    height: 60px;
    margin-top: 24px;
}

.menu {
    display: flex;
    position: absolute;
    width: 13.8%;
    right: -200%;
    transition: right 0.5s ease 0s;
    background-color: var(--header-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: right;
    height: 100vh;
}

.menu .nav a button{
    width: 100%;
    padding: 8px;
    font-size: clamp(16px,1.5vw,2vw);
    font-family: var(--font2);
    border-radius: 8px;
    border: 2px solid var(--button-border-color);
    color: var(--button-text-color);
    background: var(--orange-fade);
    cursor: pointer;
    font-weight: bold;
}

.menu .nav a button:hover {
    transition: all 0.5s ease;
    transform: scale(1.09);
}

.menu .nav a {
    width: 90%;
}

.menu .nav{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;


}



.menu .rs{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;
    bottom: 13%;
}

.menu .rs img:hover{
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px var(--image-hover-color); 
}



.nav-desktop .nav {
    display: flex;
    flex-direction: row;
}


.logo-desktop{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    height: clamp(90px, 8vh, 126px);

}


.rs img{
    height: clamp(15px, 8vw, 25px);
    width: clamp(15px, 8vw, 25px);
    
}


header a img{
    height: 42px;
    width: 42px;
}





/*FOOTER*/


footer{
    width:100% ;
    background-color: var(--orange-three);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyright{
    margin-top: 10%;
}

footer .reseau-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -40px;
    gap : 0px
}

.logo-secondaire {
    display: flex;
    justify-content: center;
}

.reseau-footer img{
    height: clamp(15px, 8vw, 42px);
}


/*CONTENU DE LA PAGE*/

main {
    background :var(--body-background);
    display: flex;
    flex-direction: column;
    z-index: 0;
}

main > :nth-child(n+2){
    padding: 25vh 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}


main h1{
    font-family: var(--font1);
    font-size: clamp(50px,6vw,6.5vw);
    color: var(--h1-color);
    font-weight: bolder;
    margin: 0;
    margin-top: 10%;
    max-width: 100%;
    -webkit-text-stroke: 2px var(--h1-stroke-color);
    line-height: 1;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


#animated-text::after {
    content: " ";
    display: inline-block;
    animation: blink 1s infinite; 
    width: 5px;
    height: clamp(13px,6vh,6.5vh);
    background-color: var(--purple-two);
    margin-left: 5px;
    margin-left: 10px;
    border: 2px solid var(--purple-one);
}

h1 .rayan {
    background: var(--orange-fade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.salut a {
    margin-top: 3%;
    display: flex;
    align-self: flex-start;
    border: 3px solid var(--button-border-color);
    color: var(--button-text-color);
    font-weight: bolder;
    padding: clamp(15px,3.5vw,30px)  clamp(50px,9vw,100px) ;
    font-family: var(--font1);
    text-decoration: none;
    font-size: clamp(20px,1.7vw,7vw);
    background: var(--orange-fade);
    border-radius: 8px;
    transition: all 0.5s ease;
    
}

.salut a:hover {
    color:  white;
    border: 3px solid;
    border-color: white;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px var(--purple-two); 
}



.salut {
    background-image: url(image/cat-kiss.gif);
    background-size:cover;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}




/* Présentation */

main h2 {
    font-family: var(--font1);
    font-weight: bolder;
    font-size:clamp(20px,5.3vw,5.5vw);
    color: var(--h2-color);
    margin: 0px;
}

#presentation{
    justify-content: center;
}

article p{
    font-family: var(--font2);
    color: var(--paragraph-color);
    width: 80%;
    font-size:clamp(18px,1.9vw,2vw);
}

article h3{
    font-family: var(--font2);
    font-weight: bolder;
    margin: 0px;
    font-size: clamp(20px,2.3vw,3vw);
    color: var(--h3-color);
    
}

/*Experience*/

.experience-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.experience-container > .timeline{
    width: 98vw;
    height: 10px;
    background-color: var(--orange-three);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline > .start{
    width: 100%;
    height: 5px;
    background-color: var(--purple-one);
    position: relative;
}

.entries{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.entry{
    min-height: 25vh;
    min-width: 25vh;
    display: flex;
    flex-direction: column;
}

.entry-card{
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    overflow: hidden;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s ease;
}

.entry:hover{
    .entry-card {
        transform: translateY(-10px);
        box-shadow: 0px 15px 20px 0px var(--purple-two);
    }

    .entry-losange{
        transform: rotate(45deg) translateY(-10px) translateX(-9px);
    }
    .entry-dot{
        transform: scale(1.5);
        background-color: var(--orange-two);
    }

}

.entry-card-body{
    padding: 2vh;
}

.entry-card p {
    font-size: clamp(18px,0.9vw,2vw);
    color: var(--purple-one);
    width: 100%;
}



.entry-losange{
    height: 40px;
    width: 30px;
    position: relative;
    background-color: var(--card-background);
    margin: 0 auto;
    top: 2.6vh;
    transform: rotate(45deg);
    z-index: 0;
    transition: 0.5s ease;
}



.entry-dot{
    min-height:clamp(19px,1.3vw,20px) ;
    min-width: clamp(19px,1.3vw,20px);
    margin: auto;
    position: relative;
    bottom: 17px;
    background-color: var(--orange-one);
    border-radius: 50%;
    border: 0.16rem solid var(--card-background);
    transition: 0.5s ease;
}


.exp-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2vw;
    padding: 0.5vh;
}

.exp-logo > img{
    height: 5vh;
}

.exp-logo > p{
    font-style: italic;
    margin-bottom: 0;
}

.exp-date p{
    margin: auto;
    width: fit-content;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid var(--purple-one);
}

.entry-card-body > .learn-more > button{
    font-size: clamp(18px,0.9vw,2vw);
    font-family: var(--font2);
    border-radius: 8px;
    color: var(--button-text-color);
    background: var(--orange-fade);
    font-weight: bold;
    padding: 8px;
}

.exp-description > p {
    margin:0;
    margin-top: 10px;
    
}

.exp-date > p{
    font-weight: bolder;
}

@media screen and (max-width: 1030px) {
    .experience-container{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .experience-container > .timeline{
        height: 100%;
        width: 10px;
    }

    .timeline > .start {
        width: 5px;
        height: 100%;
    }

    .entries{
        flex-direction: column;
        gap: 10px;
    }

    .entry{
        flex-direction: row;
    }

    .entry-losange{
        left: 5.6%;
        margin: auto 0;
        top: 0;
    }

    .entry-dot{
        bottom: 0;
        margin: auto 0;
        right: 3.5%;
    }


}

/* Compétences*/


.skills-container > .card {
   min-height: 30vh; 
   background-color: var(--card-background);
   display: flex;
   flex-direction: column;
   box-shadow: 0 1px 3px var(--purple-two), 0 1px 2px var(--purple-two);
   transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
   overflow: hidden;
   border-radius: 0px;
   border: none;
}

.skill-projects{
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.card-image{
    transition: ease 1s
}

.card-image > img{
    transition: ease 1s
}

.skills-container .card-body{
    transition: ease 1s;
    flex:initial;
}


.skills-container > .card:hover {
    box-shadow: 0 14px 28px var(--purple-two), 0 10px 10px var(--purple-two);
    transition: ease 2s;
    transform: scale(1.05);
    .card-image{
        flex-grow: 0;
        transition: ease 1s
    }
    .card-body{
        flex-grow: 1;
        transition: ease 1s;
    }
    .card-image > img{
        height: 0px;
        transition: ease 1s
    }
    .skill-projects{
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: block;
    }

    .skill-projects p{
        font-family: var(--font2);
        color: var(--purple-one);
        font-size: clamp(16px,2vw,18px);
        text-align: center;
        width:100% ;
        margin: 8px 0;
    }

    .skill-projects ul, li{
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: var(--font2);
        color: var(--purple-one);
        font-size: clamp(14px,1.8vw,16px);
        line-height: 4vh;
    }

    .skill-projects li > a{
        color: var(--purple-one);
        font-weight: bolder;
        font-size: clamp(14px,1.8vw,16px);
        transition: all 0.5s ease;
    }
}

.skills-container .card-body p {
    font-family: var(--font2);
    font-weight: bolder;
    color: var(--h1-stroke-color);
    font-size: clamp(16px,2vw,3vw);
    text-align: left;
    margin: 0;
}

.card-body > .percentage {
    display: inline;
}

.skills-container .card-body{
    padding: 20px;
}

.card-image > img {
    height: clamp(25px, 10vh, 130px);
    position: relative;
    top: 25%;
}

.card-image{
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.card-image:has(> img[alt="HTML"]){
    background-color: #f9876f;
}

.card-image:has(> img[alt="CSS"]){
    background-color: #80c1f7
}

.card-image:has(> img[alt="JavaScript"]){
    background-color: #eae2a7;
}

.card-image:has(> img[alt="PHP"]){
    background-color: #6c85ad;
}

.card-image:has(> img[alt="SQL"]){
    background-color: #64869f;
}

.card-image:has(> img[alt="python"]){
    background-color: #f7d77e;
}

.card-image:has(> img[alt="java"]){
    background-color: #e69952;
}

.card-image:has(> img[alt="Bootstrap"]){
    background-color: #87779e;
}

.card-image:has(> img[alt="spring boot"]){
    background-color: #9cb58b;
}

.card-image:has(> img[alt="symfony"]){
    background-color: rgb(108, 108, 108);
}

.card-image:has(> img[alt="laravel"]){
    background-color: #f89a95;
}

.card-image:has(> img[alt="Système d'exploitation"]){
    background-color: #cb8ce9;
}



.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 18px;
}



progress {
    height: 1.2vh;
    -webkit-appearance: none;
    appearance: none;
}

/* Style pour les navigateurs WebKit (Chrome, Safari) */
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 10vw;
}

progress::-webkit-progress-value {
    background-color: var(--purple-one); /* Changez cette couleur pour la couleur de votre choix */
    border-radius: 10px;
}

/* Style pour Firefox */
progress::-moz-progress-bar {
    background-color: var(--purple-two); /* Changez cette couleur pour la couleur de votre choix */
    border-radius: 10px;
    width: 10vw;
}

/* Cursus */

.buttons button{
    background: var(--orange-fade);
    padding:12px;
    font-family: var(--font2); 
    font-size:  clamp(16px,1.5vw,1.8vw);
    border-radius: 8px;
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.buttons button:hover {
    transition: all 0.5s ease;
    transform: scale(1.09);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 2px solid black;
    padding-right: 13px;
}

#lien-ecole {
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

.texte-curs {
    padding: 0px;
    width: 55%;
}

#texte-cursus {
    padding: 0px;
    margin: auto;
    margin-top: 10px;
}

.cursus img{
    height: clamp(25px, 35vw, 305px);
    padding: 0px;
    border: var(--purple-one) solid;
    margin-right: 5px;
    box-shadow: 1px 3px 29px 13px var(--purple-one);
}

.cursus a:hover{
    color:  white;
    border: 1px solid;
    border-color: var(--purple-one);
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px var(--purple-one); 
}

.descri-cursus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    gap: 30px;
    margin: 0px auto;
    flex-wrap: wrap;
}


/* Projets */

.projets {
    gap: 20px;
}

.slideshow-container{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back,.next{
    cursor: pointer;
    align-self: center;
    display: flex;
    background-color: var(--purple-two);
    color: white;
    padding: 18px;
    font-size: clamp(2px,2.3vw,3vw);
    border: 1px solid black;
    border-radius: 20px;
}

.back:hover,.next:hover{
    background-color: #8a4ca0a8;
}

.dots .dot{
    cursor : pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.314);
}

.dots .dot:hover{
    background-color: rgba(0, 0, 0, 0.481);
}

.dots .active{
    background-color: rgba(0, 0, 0, 0.481);
}

.dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.image-projets{
    height: fit-content;
}

.image-projets a img{
    max-height: clamp(15px,25vh, 500px);
    max-width: clamp(40px, 50vw, 500px);
    box-shadow:5px 5px 15px 5px black;
    transition: all 1s ease;
}



.image-projets a img:hover{
    transform: scale(1.8);
}


.descri-projet {
    height: 148px;
}

.descri-projet span img{
    display: inline-block;
    height: clamp(25px, 5vh, 50px);
    width: clamp(25px, 5vh, 50px);;

}

/* Contact */

main .contact {
    justify-content: center;
    padding-bottom: 40vh;
}

.contact img {
    height: clamp(25px, 3vw, 50px);
}

.form-container > form{
    display : grid;
    gap: 10px;
    grid-template-areas: 
    "nom prenom"
    "email phone"
    "objet objet"
    "message message"
    "message message"
    "submit .";
    ;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group > label{
    font-family: var(--font2);
    color: var(--contact-label-color) ;
    font-size: clamp(13px,1.3vw,15px);
    text-align: left;
    transition: top 0.5s ease;
    position: relative;
    top: 55%;
    left: 3%;
    width: 0;
}

.form-group input, 
.form-group textarea{
    font-family: var(--font2);
    font-size: clamp(16px,1.5vw,2vw);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--orange-three);
    background-color: var(--card-background);
    transition: all 0.5s ease;

}

.form-group input:focus, 
.form-group textarea:focus{
    background-color: #f3f3f3;
    transition: all 0.5s ease;
}

.form-group.filled input:valid, .form-group.filled textarea:valid{
    transition: all 0.5s ease;
    background-color: #a5cf92;
}

.form-group.filled input:invalid, .form-group.filled textarea:invalid{
    transition: all 0.5s ease;
    background-color: #cf9292;
}

.form-group.focused label{
    color: var(--orange-three);
    top: 0;
    left: 0;
    width: 100%;
    font-size: clamp(14px,1.4vw,18px);
}

.form-group.focused label::after{
    content: attr(data-help);
    opacity: 0;
    transition: opacity 0.5s ease; 
    width: 100%;
}


.form-group.seconds label::after{
    content: attr(data-help);
    opacity: 1;
    transition: opacity 0.5s ease; 
}


.form-group.filled label{
    color: var(--orange-three);
    top: 0;
    left: 0;
    width: 100%;
}

.form-group textarea{
    resize: none;
    height: 18vh;
}


.form-group button{
    font-family: var(--font2);
    font-size: clamp(16px,1.5vw,2vw);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--button-border-color);
    background: var(--orange-fade);
    cursor: pointer;
    font-weight: bold;
    color: var(--button-text-color);
    transition: all 0.5s ease;
}

.form-group button:hover {
    transition: all 0.5s ease;
    transform: scale(1.09);
}


#nom{
    grid-area: nom;
}

#prenom{
    grid-area: prenom;
}

#email{
    grid-area: email;
}

#phone{
    grid-area: phone;
}

#objet{
    grid-area: objet;
}

#message{
    grid-area: message;
}

#submit{
    grid-area: submit;
}




/* Menu mobile */

.logo-mobile{
    visibility: hidden;
}

.header-contents .menu{
    visibility: hidden;
}

main h3{
    font-family: var(--font2);
    padding: 0px;
    font-size: 20px;
    margin: 0px;
}

.nav-mobile{
    visibility: hidden;
}


/* Modal */ 

.modal-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2vw;
    align-items: center;
    padding: 1vh;
    width: 100%;
    height : 10%;
    border-bottom: var(--orange-three);
}

.modal-image img{
    height: 25vh;
}
.modal-image img.bac{
    width: 100%;
}

.modal-image > .company-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-image{
    width: 100%;
    text-align: center;
}

.modal-image label{
    font-size: clamp(13px,0.5vw,15px);
}

.modal-stackused{
    width: 100%;
    text-align: center;
}

.modal-stackused > .stack-images > img {
    height: 10vh;
    width: 10%;
}

.modal-stackused > .stack-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.modal-stackused{
    border-top: 2px solid var(--orange-three);
}

.modal-description > *{
    text-align: center;
}

.modal-content label,
.modal-content p, 
.modal-content h3{
    font-family: var(--font2);
    color: var(--orange-three);
}

.modal-content h5{
    font-family: var(--font1);
    color: var(--orange-three);
}

.modal .modal-content{
    background-color: var(--purple-one);
}

.modal .modal-header{
    border-bottom: 2px solid var(--orange-three);
}

.modal .modal-footer{
    border-top: 2px solid var(--orange-three);
}

.modal button.close {
    color: var(--orange-three);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--purple-one);
    border: 2px solid var(--orange-three);
    border-radius: 8px;
    padding: 1px 10px;
    cursor: pointer;
}

/* ScrollBar */

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--header-color); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--orange-three); 
    border-radius: 20px; 
    border: 2px solid  var(--purple-two);
  }